@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel

<h1 class="font-weight-bold text-center">Book List</h1>

@*<div class="text-dark">
        @foreach (Book p in Model.Books)
        {
            <h3 class="font-italic">@p.Title</h3>

            <ul class="align-content-center">
                <li>Author: @p.Author</li>
                <li>ISBN: @p.Isbn</li>
                <li>Publisher: @p.Publisher</li>
                <li>Classification/Category: @p.Classification</li>
                <li>Number of Pages: @p.PageCount</li>
                <li>Price: $@p.Price</li>
            </ul>

            <br />
        }
    </div>*@


@foreach (Book x in Model.Books)
    {
        <partial name="BookSummary" model="x" />
    }



<div class="btn text-white btn-light btn-secondary" page-num="@Model.PageInfo" page-action="Index"></div>


