@page "/admin/books"
@page "/admin"
@inherits OwningComponentBase<IBookstoreRepository>

<table class="table table-sm table-striped table-bordered table-dark table-danger w-auto">

    <thead>
        <tr>
            <th>Book ID</th>
            <th>Book Title</th>
            <th>Book Author</th>
        </tr>
    </thead>

    <tbody>
        @if (BookData?.Count() > 0)
        {
            @foreach (Book p in BookData)
            {
                <tr>
                    <td>@p.BookId</td>
                    <td>@p.Title</td>
                    <td>@p.Author</td>

                    <td>
                        <NavLink class="btn btn-info btn-sm" href="@GetDetailsUrl(p.BookId)">Details</NavLink>
                    </td>

                    <td>
                        <NavLink class="btn btn-warning btn=sm" href="@GetEditUrl(p.BookId)">Edit</NavLink>
                    </td>

                    <td>
                        <button class="btn btn-danger btn-sm" @onclick="@(x => RemoveBook(p))">Delete</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No Books</td>
            </tr>
        }
    </tbody>

</table>

<NavLink class="btn btn-primary" href="/admin/books/create">Create</NavLink>


@code {

    public IBookstoreRepository repo => Service;

    public IEnumerable<Book> BookData { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        BookData = await repo.Books.ToListAsync();
    }

    public string GetDetailsUrl(long id) => $"/admin/books/details/{id}";
    public string GetEditUrl(long id) => $"/admin/books/edit/{id}";

    public async Task RemoveBook(Book p)
    {
        repo.DeleteBook(p);
        await UpdateData();
    }
}
