<table class="table table-sm table-striped table-bordered table-danger table-dark">

    <thead>
        <tr>
            <th colspan="5" class="text-center">@TableTitle</th>
        </tr>
    </thead>


    <tbody>
        @if (Purchases?.Count() > 0)
        {
        @foreach (Purchase d in Purchases)
        {
        <tr>
            <td>@d.Name</td>
            <td>@d.Zip</td>
            <th>Book</th>
            <th>Quantity</th>

            <td>
                <button class="btn btn-small btn-danger" @onclick="@(x => PurchaseSelected.InvokeAsync(d.PurchaseId))">
                    @ButtonLabel
                </button>
            </td>
        </tr>

        @foreach (CartLineItem cli in d.Lines)
        {
        <tr>
            <td colspan="2"></td>
            <td>@cli.Book.Title</td>
            <td>@cli.Quantity</td>
        </tr>
        }
        }
        }
        else
        {
        <tr>
            <td colspan="5" class="text-center">No Orders</td>
        </tr>
        }
    </tbody>
</table>

@code {

    [Parameter]
    public string TableTitle { get; set; } = "Purchases";

    [Parameter]
    public IEnumerable<Purchase> Purchases { get; set; }

    [Parameter]
    public string ButtonLabel { get; set; } = "Collected";

    [Parameter]
    public EventCallback<int> PurchaseSelected { get; set; }

        }
